site_name: David's notes and stuff
site_author: David McEwing

copyright: Copyright &copy; 2024 David McEwing

theme: 
  name: material
  custom_dir: theme
  features:
    - content.code.copy
    - content.code.select
    - navigation.indexes

plugins:
  - tags:
      enabled: true
  - blog:
      blog_toc: true
      post_date_format: long
      post_url_format: "{categories}/{date}/{slug}"
      post_url_date_format: "yyyy/MM/dd"
      post_url_max_categories: 5
      categories: true
      authors: false
      archive_url_date_format: "yyyy/MM"
      archive_url_format: "{date}"
      archive_date_format: yyyy-MMM
  - plantuml:
      puml_keyword: plantuml
      puml_url: https://www.plantuml.com/plantuml/
      num_workers: 8
      theme:
        light: material/indigo-light
      
markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.keys
  - def_list
  - toc:
      marker: '[[TOC]]'
      title: 'On this page...'
      toc_class: 'toclink'
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css

nav:
  - Home: index.md
  - About: about.md
  - "Blog":
    - blog/index.md
